extends layout

block content
  div.row
    div(class="col text-end" style="margin-top: 15%; margin-left: -8%;")
      h1(style="font-weight: bold; font-size: 50px;") Вашите рецепти
  div.row
    div(class="col text-end fw-bold fst-italic" style="margin-top: 3%; margin-left: -10%;")
      p(style="font-size: 23px; letter-spacing: 1px;") Споделете своите рецепти
  div.row
    div(class="col" style="width : 100%; height : 300px ;display : flex ; flex-direction : row ; justify-content : end ; align-items : center ; margin-left: -5%;")
      a(href="/recipes/login" class="button")
        div(class="button__line")
        div(class="button__line")
        span(class="button__text") Вход
        div(class="button__drow1")
        div(class="button__drow2")
